* {
	margin: 0;
	padding: 0;
}
html,
body {
	margin: 0;
	padding: 0;
	height: 100vh;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font-family: sans-serif;
	color: white;
	background: url('./img/table.png');
	font-size: 1.2em;
}
button {
	border: none;
	font-size: 1.2em;
	background-color: #fff100;
	cursor: pointer;
}
.flex-self {
	display: flex;
	align-items: center;
	align-self: flex-start;
}
button#new-deck {
	margin-right: 20px;
}

button.draw {
	align-self: stretch;
}

div.card-slot {
	border: 1px solid black;
	border-radius: 5px;
	height: 250px;
	width: calc(250px * 5 / 7);
}
div.card-slot:nth-child(1) {
	margin-bottom: 50px;
}
img {
	width: 100%;
	height: 100%;
}
